// colors
:root {
  --color-primary    : #01A2CE;
  --color-accent     : #FE993C;
  --color-blue       : #4DBCE9;
  --color-white      : #fff;
  --color-black-a-03 : rgba(0, 0, 0, .3);
  --color-text-base  : #ffffff;
  --color-text-black : #212121;
  --color-bg-body    : #fff;
}

// other
:root {
  --border-radius-base : 16px;
  --header-height      : 72px;
  --radius-button      : 8px;
}