// colors
:root {
  --color-primary    : #01A2CE;
  --color-accent     : #FE993C;
  --color-blue       : #4DBCE9;
  --color-white      : #fff;

  --color-text-base  : #1A262B;
  --color-bg-body    : #FBFCFF;

  --border-radius-base : 16px;
  --header-height      : 72px;
  --radius-button      : 8px;
}
