* {
  box-sizing : border-box;
}

body.admin-bar {
  #app {
    min-height : calc(100vh - 32px);
  }
}

#app {
  position   : relative;
  min-height : 100vh;
  background: linear-gradient(155.65deg, #151166 12.54%, #0B5F9E 45.97%, #0399C8 73.15%, #00AFD8 86.16%);
}
