.header {
  position : fixed;
  width    : 100%;
  z-index  : 100;

  &__inner {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding-top     : 24px;
    margin-bottom   : 145px;
  }

  &__item {
    display         : flex;
    justify-content : flex-start;
    align-items     : center;
    gap             : 122px;
  }

  &__logo-box {
    max-width  : 223px;
    max-height : 55px;
  }

  &__menu-items {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    gap             : 40px;
  }

  &__menu-hidden-box {
    display : none;
  }

  &__menu-item-link {
    @include ad-font(18, 14);
    border-bottom : 2px solid transparent;
    color         : #fff;
    transition    : all .3s;

    &:hover {
      border-bottom : 2px solid #fff;
      transition    : all .3s;
    }
  }

  &__recall-btn {
    @include ad-font(20, 12);
    padding          : 23px 37px;
    background-color : transparent;
    border           : 1px solid #FFFFFF;
    color            : #FFFFFF;
    border-radius    : 8px;
    width            : fit-content;
    cursor           : pointer;
  }

  &__menu-btn {
    background-color : transparent;
    border           : none;
    cursor           : pointer;
    display          : none;
  }

  &__menu-hidden {
    width  : 30px;
    height : 30px;
    cursor : pointer;
  }
}


@media (max-width : 1200px) {
  .header {
    &__item {
      gap : 50px;
    }

    &__logo-box {
      max-width : 160px;
    }

    &__recall-btn {
      padding : 10px 20px;
    }
  }
}


@media (max-width : 992px) {
  .header {
    &__inner {
      margin-bottom : 90px;
    }

    &__logo-box {
      max-width  : 147px;
      max-height : 36px;
    }

    &__menu-btn {
      display : block;
    }

    &__recall-btn {
      display : none;
    }

    &__menu-items {
      flex-direction   : column;
      gap              : 24px;
      background-color : #78c2ff;
      position         : absolute;
      width            : 100%;
      left             : 0;
      right            : 0;
      padding          : 30px 0 !important;
      transform        : translateY(-310px);
      transition       : all .3s;
    }

    &__menu-hidden-box {
      display  : block;
      position : absolute;
      right    : 30px;
    }
  }
  .show-menu {
    transform : translateY(-46px);
  }
}


