.button {
  display         : inline-flex;
  align-items     : center;
  justify-content : center;
  line-height     : 1;
  cursor          : pointer;
  text-decoration : none;
  transition      : transform .1s ease-in;
  outline         : none;
  border          : 1px solid transparent;
  box-shadow      : unset;

  &:active {
    transform : translateY(1px);
  }

  &_type {

    &_primary {
      background-color : var(--color-white);
      color            : var(--color-blue);
    }
  }

  &_shape {

    &_round {
      border-radius : var(--radius-button);
    }

  }

  &_size {

    &_large {
      font-size : 20px;
    }
  }
}