.footer{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }
  &__item-company{
    max-width: 225px;
  }
  &__item-menu{
    max-width: 140px;
  }
  &__item-contacts{
    max-width: 470px;
  }
  &__logo-box{
    margin-bottom: 44px;
  }
  &__company-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__company-info-item{
    @include ad-font(18, 14);
    font-weight: 500;
    text-transform: uppercase;
  }
  &__menu-title,
  &__contacts-title{
    @include ad-font(24, 18);
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 30px;
  }
  &__menu-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__menu-list-item-link{
    @include ad-font(20, 14);
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
  &__contacts-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__contact{
    @include ad-font(20, 14);
    line-height: 150%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    span{
      @include ad-font(18, 14);
      line-height: 150%;
      opacity: 0.5;
    }
  }
  &__contact-3{
    display: none;
  }
  &__item-recall{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100% !important;
    align-items: flex-end;
    gap: 200px;
  }
}



@media (max-width: 1200px){
  .footer{
    &__logo-box{
      margin-bottom: 15px;
      max-width: 160px;
    }
    &__company-info{
      gap: 0;
    }
    &__menu-list{
      gap: 10px;
    }
    &__contacts-list{
      gap: 15px;
    }
    &__contact{
      gap: 5px;
    }
    &__company-info-item{
      line-height: 26px;
    }
    &__menu-list-item-link {
      line-height: 21px;
    }
    &__menu-title,
    &__contacts-title {
      margin-bottom: 15px;
    }
    &__contact {
      line-height: 27px;
    }
    &__item-contacts {
      max-width: 315px;
    }
    &__contact span {
      line-height: 27px;
    }
    &__copyrate{
      font-size: 16px;
      line-height: 30px;
    }
    &__item-menu {
      max-width: 100%;
      text-align: end;
    }
  }
}


@media (max-width: 992px){
  .footer{
    &__inner{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 810px){
  .footer{
    &__recall-btn{
      display: block;
    }
  }
}

@media (max-width: 510px){
  .footer{
    &__logo-img{
      max-width: 108px;
      max-height: 27px;
    }
    &__item-recall {
      grid-column: 2;
      grid-row: 1;
      gap: 0;
    }
    &__item-contacts {
      grid-row: 2;
    }
    &__item-menu {
      text-align: start;
    }
    &__contact-2{
      display: none;
    }
    &__contact-3{
      display: block;
      margin-top: 20px;
      max-width: 315px;
    }
    &__recall-btn {
      padding: 19px 17px;
    }
  }
}
